*{
    padding: 0;
    margin: 0;
    
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:hsl(212, 45%, 89%);
}
.qr_item{
    height: 42vh;
    width: 26vh;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
}
.qr{
    height: 25vh;
    border-radius: 8px;
}
.qrtxt{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    text-align: center;
}
.txt1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2vh;
    font-weight: bold;
    padding: 10px;
}
.txt2{
    color: rgb(77, 74, 74);
    font-size: 1.2vh;
    padding: 10px;
}
/* @media screen and (max-width:375px){
    .txt1{
        font-size: 12px;
        font-weight: bold;
        padding: 0;
    }
    .txt2{
        font-size: 9px;
        padding: 10px;
    }
} */